:root {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.toggle-switch {
    position: relative;
    width: 80px;
}

label.sliderLabel {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
}

input.sliderInput {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

input.sliderInput:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;
    width: 24px;
    height:24px;
    border-radius: 50%;
    box-shadow: inset 10px -1px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

input.sliderInput:checked~.slider::before {
    transform: translateX(35px);
    background-color: var(--dark);
    box-shadow: none;
}
